body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-image: url("../images/logo-background.jpg");
    border: rgba(213, 213, 213, 0.78) solid 1px;
    margin-top: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}
nav ul li {
    display: inline-block;
}
nav ul li:not(:last-child)::after {
    content: " | ";
    color: gray;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
nav ul li a:hover {
    color: red;
}
.logo {
    display: block;
    margin-top: 20px;
    max-width: 300px;
    height: auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
article {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border-bottom: solid 1px #9f9f9f;
}
.article-photo {
    max-width: 300px;
    height: auto;
}
.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    color: #ff0000;
    font-family: 'Trebuchet MS', sans-serif;
}
.category {
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.author {
    font-size: 12px;
    color: rgba(66, 66, 69, 0.84);
    font-family: 'Trebuchet MS', sans-serif;
}
.about-article {
    font-family: monospace;
}
.about-article a {
    text-decoration: none;
    color: inherit;
}
footer {
    background-color: #cacaca;
    margin-top: 20px;
    padding: 25px 0;
    text-align: center;
}
footer div {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: rgba(66,66,69,0.84);
}